@model User

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Profile.css" rel="stylesheet" />
    <link href="~/css/formpopup.css" rel="stylesheet" />
    <link href="~/css/CardViewVideocss.css" rel="stylesheet" />
    <link href="~/css/Star.css" rel="stylesheet" />
</head>
<body>
    @Html.Raw(TempData["msg"])
    <div class="text-center">
        <h1 class="display-4">I Want to Play </h1>
    </div>
    <div class="form-group">
        <form>

            <input asp-action="showSugestions" asp-for="Username" name="searched" class="form-control" />
            <input asp-action="SearchInput" type="submit" value="Search" />

        </form>


    </div>
    <br />

    <div id="btn-container">
        <form asp-action="showClip" class="text-center">
            <button class="filter" name="type" value="Comedy">Comedy</button>
            <button class="filter" name="type" value="Action">Action</button>
            <button class="filter" name="type" value="Adventure">Adventure</button>
            <button class="filter" name="type" value="Animation">Animation</button>
            <button class="filter" name="type" value="Horror">Horror</button>
            <button class="filter" name="type" value="Musical">Musical</button>
            <button class="filter" name="type" value="Sport">Sport</button>
            <button class="filter" name="type" value="Western">Western</button>
            <button class="filter" name="type" value="Romantic">Romantic</button>


        </form>

    </div>
    <br />





    <div class="wrapper">
        <div class="cards_wrap">
            @{
                if (ViewBag.list_of_comedy_clip != null)
                {
                    foreach (var element in ViewBag.list_of_comedy_clip)
                    {
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_top">

                                    <video controls="controls">
                                        <source src="\@element.Video" type="video/mp4" />

                                    </video>

                                </div>
                                <div class="card_bottom">

                                    <div class="card_info">
                                        <p class="title">Type:@element.Title</p>
                                        <p class="title">Type:@element.Type</p>
                                        <p> votes:(@element.Votes)</p>
                                        <p>score:(@element.Ranking)</p>
                                        <form>
                                            <button type="submit" asp-action="SeeProfile" name="id" value="@element.Id">See Profile</button>
                                        </form>
                                    </div>

                                    <form asp-action="UpdateStrangerRating">
                                        <div class="rating">

                                            <input type="radio" id="star5-@element.Id" name="rating" value="5-@element.Id" /><label for="star5-@element.Id"> </label>
                                            <input type="radio" id="star4-@element.Id" name="rating" value="4-@element.Id" /><label for="star4-@element.Id"></label>
                                            <input type="radio" id="star3-@element.Id" name="rating" value="3-@element.Id" /><label for="star3-@element.Id"></label>
                                            <input type="radio" id="star2-@element.Id" name="rating" value="2-@element.Id" /><label for="star2-@element.Id"></label>
                                            <input type="radio" id="star1-@element.Id" name="rating" value="1-@element.Id" /><label for="star1-@element.Id"></label>

                                        </div>
                                        <input type="submit" value="Vote!" />

                                    </form>

                                </div>
                            </div>

                        </div>

                    }
                }
            }


        </div>
        </div>
    
</body>
</html>
