@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


video {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    margin: 20px auto;
}
.add-button {
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}
.add-button:hover {
    background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    background-color: #68a54b;
}

.add-button:active {
    position: relative;
    top: 1px;
}

.cards_wrap {
    display: flex;
    flex-wrap: wrap;
}

    .cards_wrap .card_item {
        width: 25%;
        padding: 10px;
    }

    .cards_wrap .card_inner {
        background: #fff;
    }

    .cards_wrap .card_top {
        width: 100%;
        height: auto;
        padding: 10px;
        padding-bottom: 0;
    }

    .cards_wrap .card_bottom {
        padding: 15px;
    }

        .cards_wrap .card_bottom .card_category {
            text-transform: uppercase;
            text-align: center;
        }

        .cards_wrap .card_bottom .card_info {
            padding: 15px;
            margin: 10px 0;
            border: 1px dashed #0071bc;
        }

            .cards_wrap .card_bottom .card_info .title {
                color: #0071bc;
                font-size: 18px;
                margin-bottom: 5px;
            }

        .cards_wrap .card_bottom .card_creator {
            text-align: center;
        }

@media (max-width: 1024px) {
    .cards_wrap .card_item {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }
}

@media (max-width: 528px) {
    .cards_wrap .card_item {
        width: 100%;
    }
}
